.wrapper {
    background: rgb(0, 172, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border-spacing: 0px;
    width: 60%;
  }
  
  th {
    text-align: start;
    padding: 5px;
    color: #28158fa2;
  }
  
  td {
    padding: 5px;
    max-width: 700px;
    vertical-align: top;
    color: rgb(4,42,90);
  }
  .number {
      text-align: center;
  }
  
  tbody > tr:nth-child(odd) {
    background: rgb(167,239,246);
  }
  
  tbody > tr:nth-child(even) {
    background: rgba(0,172,237);
  }
  
  h1 {
    color: #443635;
  }